USE [ViamaticaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RenewOrChangeContract]    Script Date: 10/6/2026 11:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                ALTER   PROCEDURE [dbo].[sp_RenewOrChangeContract]
                    @OldContractId INT,
                    @NewServiceId INT
                AS
                BEGIN
                    SET NOCOUNT ON;

                    DECLARE @ClientId INT;
                    DECLARE @EndDate DATETIME;
                    DECLARE @MethodPaymentId INT;

                    SELECT 
                        @ClientId = ClientClientId, 
                        @EndDate = EndDate,
                        @MethodPaymentId = MethodPaymentMethodPaymentId
                    FROM Contracts 
                    WHERE ContractId = @OldContractId;

                    IF @ClientId IS NULL
                    BEGIN
                        RAISERROR('El contrato anterior no existe.', 16, 1);
                        RETURN;
                    END

                    UPDATE Contracts 
                    SET StatusContractStatusId = 'SUS' 
                    WHERE ContractId = @OldContractId;

                    INSERT INTO Contracts (
                        StartDate, 
                        EndDate, 
                        ServiceServiceId, 
                        StatusContractStatusId, 
                        ClientClientId, 
                        MethodPaymentMethodPaymentId, 
                        IsDeleted
                    )
                    VALUES (
                        GETUTCDATE(), 
                        @EndDate, 
                        @NewServiceId, 
                        'VIG', 
                        @ClientId, 
                        @MethodPaymentId, 
                        0
                    );
                END
            
